@{
}

@model Book

<div class="card card-outline-primary m-1 p-1" style="background-color: #F0F0F0; ">
    <div class="p-1 rounded" style="background-color: #335145;">
        <h3 class="text-white ">
            @Model.Title

        </h3>
    </div>
    <ul class="list-unstyled">
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Number of Pages: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>
</div>
<br />